apiVersion: styra.bankdata.dk/v1beta1
kind: System
metadata:
  labels:
    app.kubernetes.io/name: system
    app.kubernetes.io/instance: system-sample
    app.kubernetes.io/part-of: styra-controller
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: styra-controller
    styra-controller/control-plane: opa-control-plane
  name: system-sample
spec:
  decisionMappings:
    - allowed:
        expected:
          boolean: true
        path: result.allowed
      name: api/authz/decision
      reason:
        path: result.reasons
  datasources:
    - path: "test"
  # TODO(user): Add fields here
  